@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
  font-style: normal;
  list-style-type: none;
}

main section {
  width: 1000px;
}
main section ul {
  display: flex;
}
main section ul li {
  margin: 5px 20px;
  cursor: pointer;
  color: #757575;
  font-weight: 700;
  font-size: 25px;
  line-height: 16px;
}
main .member-cneter-header {
  margin: 20px 0;
}
main .show-orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 980px;
  padding: 20px;
}
main .show-orders .showNoOrder {
  color: #757575;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}
main .show-orders .order-card {
  border: 1px solid rgba(182, 182, 182, 0.3294117647);
  position: relative;
  width: 100%;
  margin: 20px;
  padding: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .show-orders .order-card .title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
}
main .show-orders .order-card .title p {
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  height: 50px;
  padding: 0 10px;
  margin-right: 10px;
  width: 260px;
}
main .show-orders .order-card .title img {
  width: 20px;
  transform: rotate(90deg);
  position: relative;
}
main .show-orders .order-card .title:hover {
  background-color: #b6b6b6;
}
main .show-orders .order-card .trips-order {
  display: flex;
  position: relative;
  top: 0;
  margin-top: 20px;
  padding: 0 20px 0 20px;
}
main .show-orders .order-card .trips-order img {
  width: 250px;
  height: auto;
}
main .show-orders .order-card .trips-order .order-info,
main .show-orders .order-card .trips-order .contact-info {
  width: 200px;
  margin: 0 50px;
}
main .show-orders .order-card .trips-order .order-info .attraction_title,
main .show-orders .order-card .trips-order .order-info .contact_title,
main .show-orders .order-card .trips-order .contact-info .attraction_title,
main .show-orders .order-card .trips-order .contact-info .contact_title {
  display: inline-block;
  padding: 5px 0;
  margin-bottom: 25px;
  color: #448899;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
main .show-orders .order-card .trips-order .order-info .contact_title,
main .show-orders .order-card .trips-order .contact-info .contact_title {
  color: #448899;
}
main .show-orders .order-card .trips-order .order-info p,
main .show-orders .order-card .trips-order .contact-info p {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
}
main .show-orders .order-card hr {
  display: block;
  width: 95%;
}

@media screen and (max-width: 1000px) {
  main section {
    width: 100%;
  }
  main .show-orders {
    width: 100%;
  }
  main .show-orders .order-card {
    width: 100%;
  }
  main .show-orders .order-card .trips-order {
    flex-direction: column;
    width: 100%;
  }
  main .show-orders .order-card .trips-order .order-info {
    width: 100%;
  }
  main .show-orders .order-card .trips-order img {
    width: 100%;
    height: auto;
  }
  main .show-orders .order-card .trips-order .order-info,
main .show-orders .order-card .trips-order .contact-info {
    margin: 20px 10px;
  }
}
@-webkit-keyframes show {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
@keyframes show {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  0% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}/*# sourceMappingURL=member-center.css.map */