@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
  font-style: normal;
  list-style-type: none;
}

@-webkit-keyframes show-full-screen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-full-screen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes close-full-screen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes close-full-screen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.headIMG-full-screen {
  display: None;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.25);
}
.headIMG-full-screen .upload-table {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 5%;
  top: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headIMG-full-screen .upload-table .img-input-label {
  border: 1px solid #757575;
  padding: 1px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 50px;
  cursor: pointer;
}
.headIMG-full-screen .upload-table .img-input-label input {
  display: None;
}
.headIMG-full-screen .upload-table .img-input-label img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.headIMG-full-screen .upload-table p {
  margin-top: 20px;
  color: #757575;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
.headIMG-full-screen .upload-table .ensure {
  display: flex;
  margin-top: 20px;
}
.headIMG-full-screen .upload-table .ensure p {
  margin: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.headIMG-full-screen .upload-table .ensure :hover {
  color: #448899;
}

main {
  min-height: calc(93vh - 104px);
}
main .member-info {
  width: 1200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .member-info .member-title {
  width: 90%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
main .member-info .member-title p {
  color: #666666;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
}
main .member-info .member-title .member-name {
  padding-top: 5px;
}
main .member-info .member-title .head-img {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #757575;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .member-info .member-title .head-img input {
  display: None;
}
main .member-info .member-title .head-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .member-info .member-title .head-img .img-instruct {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20px;
  position: absolute;
  bottom: -25px;
  font-size: 12px;
  background-color: #cfcfcf;
  border-radius: 5%;
  cursor: pointer;
}
main .member-info hr {
  margin: 0;
  width: 90%;
}
main .member-info .member-info-row {
  padding: 10px;
  width: 90%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .member-info .member-info-row .merge {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .member-info .member-info-row .merge p {
  width: 220px;
  color: #757575;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}
main .member-info .member-info-row .merge input {
  width: 220px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 15px;
}
main .member-info .member-info-row .merge ::-moz-placeholder {
  color: red;
}
main .member-info .member-info-row .merge :-ms-input-placeholder {
  color: red;
}
main .member-info .member-info-row .merge ::placeholder {
  color: red;
}
main .member-info .member-info-row .edit {
  width: 40px;
  color: #757575;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  cursor: pointer;
}
main .member-info .member-info-row .edit:hover {
  color: #448899;
}
main section {
  width: 1000px;
}
main section ul {
  display: flex;
}
main section ul li {
  margin: 5px 20px;
  cursor: pointer;
  color: #757575;
  font-weight: 700;
  font-size: 25px;
  line-height: 16px;
}
main .member-cneter-header {
  margin: 40px 0 0 0;
}
main .member-cneter-header .already-order {
  cursor: default;
  margin: 0 10px;
}
main .show-orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 980px;
  padding: 20px;
}
main .show-orders .showNoOrder {
  color: #757575;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}
main .show-orders .order-card {
  border: 1px solid rgba(182, 182, 182, 0.3294117647);
  position: relative;
  width: 100%;
  margin: 20px;
  padding: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .show-orders .order-card .title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
}
main .show-orders .order-card .title p {
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  height: 50px;
  padding: 0 10px;
  margin-right: 10px;
  width: 260px;
}
main .show-orders .order-card .title img {
  width: 20px;
  transform: rotate(90deg);
  position: relative;
}
main .show-orders .order-card .title:hover {
  background-color: #b6b6b6;
}
main .show-orders .order-card .trips-order {
  display: flex;
  position: relative;
  top: 0;
  margin-top: 20px;
  padding: 0 20px 0 20px;
}
main .show-orders .order-card .trips-order img {
  width: 250px;
  height: auto;
}
main .show-orders .order-card .trips-order .order-info,
main .show-orders .order-card .trips-order .contact-info {
  width: 200px;
  margin: 0 50px;
}
main .show-orders .order-card .trips-order .order-info .attraction_title,
main .show-orders .order-card .trips-order .order-info .contact_title,
main .show-orders .order-card .trips-order .contact-info .attraction_title,
main .show-orders .order-card .trips-order .contact-info .contact_title {
  display: inline-block;
  padding: 5px 0;
  margin-bottom: 25px;
  color: #448899;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
main .show-orders .order-card .trips-order .order-info .contact_title,
main .show-orders .order-card .trips-order .contact-info .contact_title {
  color: #448899;
}
main .show-orders .order-card .trips-order .order-info p,
main .show-orders .order-card .trips-order .contact-info p {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
}
main .show-orders .order-card hr {
  display: block;
  width: 95%;
}

@media screen and (max-width: 1200px) {
  main .member-info,
main section {
    margin: 0;
    width: 100%;
  }
  main .show-orders {
    width: 100%;
  }
  main .show-orders .order-card {
    width: 100%;
  }
  main .show-orders .order-card .trips-order {
    flex-direction: column;
    width: 100%;
  }
  main .show-orders .order-card .trips-order .order-info {
    width: 100%;
  }
  main .show-orders .order-card .trips-order img {
    width: 100%;
    height: auto;
  }
  main .show-orders .order-card .trips-order .order-info,
main .show-orders .order-card .trips-order .contact-info {
    margin: 20px 10px;
  }
}
@media screen and (max-width: 600px) {
  main .member-info .member-info-row .merge {
    display: block;
  }
  main .member-info .member-info-row .merge p {
    margin: 25px 0;
  }
}
@-webkit-keyframes show {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
@keyframes show {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  0% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}/*# sourceMappingURL=member-center.css.map */