{% extends "base.html" %} {% block main %}
<section class="first">
  <div class="picture">
    <div class="arrow">
      <img class="left_arrow" src="/IMG/btn_leftArrow.png" alt="" />
      <img class="right_arrow" src="/IMG/btn_rightArrow.png" alt="" />
    </div>
    <div class="imges"></div>
    <div class="dot"></div>
  </div>

  <div class="profile">
    <div class="arrtaction_title"></div>
    <form class="booking" action="submit">
      <p id="p_1">訂購導覽行程</p>
      <p id="p_2">以此景點為中心的一日行程，帶您探索城市角落故事</p>
      <div class="date">
        <span id="p_3">選擇日期：</span><input type="date" id="Date" />
      </div>
      <div class="time">
        <span id="p_4">選擇時間：</span>
        <label
          ><input
            class="morning"
            type="radio"
            name="daytime"
            checked="true"
          />上半天</label
        >
        <label
          ><input
            class="afternoon"
            type="radio"
            name="daytime"
            checked="true"
          />下半天</label
        >
      </div>
      <p id="p_5">導覽費用：<span id="p_6">新台幣2500元</span></p>

      <button type="button">開始預約行程</button>
    </form>
  </div>
</section>

<hr />

<section class="info">
  <div class="description"></div>
  <div class="address">
    <p class="title">景點地址：</p>
  </div>
  <div class="transport">
    <p class="title">交通方式：</p>
  </div>
</section>
{% endblock %} {% block script %}
<script src="/JS/attraction.js"></script>
{% endblock %}
