<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>預定行程</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="full_screen">
        <div class="member_login">
            <div class="top_border"></div>
            <img src="/styles/img/icon_close.png" alt="">
            <p>登入會員帳號</p>
            <form action="">
                <input type="text" placeholder="輸入電子信箱" >
                <input type="password" placeholder="輸入密碼" >
                <button type="button">登入帳戶</button>
                <p>還沒有帳戶？<a href="">點此註冊</a></p>
                <p style="color : red">會員功能尚未開通</p>
            </form>
        </div>
    </div>
    <header>
        <nav>
            <a href="/"><p>台北一日遊</p></a>
            <ul>
                <li>預定行程</li>
                <li class="login">登入/註冊</li>
            </ul>
        </nav>
    </header>
    <h1 style="color : red">此功能尚未開通</h1>
    <a href="/" style="text-decoration: underline ;"><h2>返回首頁</ㄕ></a>
</body>
</html>