{% extends "base.html" %}
{% block main %}
<section class="top_journey">
    <p class="user_journey">您好，<span>ZH</span>，待預定的行程如下：</p>
    <div class="journey"></div>
</section>


<section class="mid_journey">
    <div class="contact_info">
        <p class="title">您的聯絡資訊</p>
        <form action="">
            <span>聯絡姓名：<input></input></span>
            <span>聯絡信箱：<input></input></span>
            <span>手機號碼：<input></input></span>
            <p class="notice">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
            </p>
        </form>
    </div>

    <hr>

    <div class="payment">
        <p class="title">信用卡資訊</p>
        <form action="">
            <span>卡片號碼：<input type="tel" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="16" placeholder="xxxx xxxx xxxx xxxx"></input></span>
            <span>過期時間：<input placeholder="MM/YY"></input></span>
            <span>驗證密碼：<input placeholder="CVV"></input></span>
        </form>
    </div>

    <hr>

    <div class="confirm">
        <p>總價：新台幣<span class="sum">0</span>元</p>
        <button type="button">確認訂購並付款</button>
    </div>
</section>

{% endblock %}

{% block script %}
<script src="/JS/booking_system.js"></script>
{% endblock %}