{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/CSS/member-center.css" />
{% endblock %} {% block main %}

<div class="headIMG-full-screen">
  <div class="upload-table">
    <label class="img-input-label"
      ><input
        id="head-img-input-preview"
        name="userIMG"
        type="file"
        accept="image/jpeg, image/png"
      />
      <img id="head-img-preview" src="/IMG/default.png" alt="" />
    </label>
    <p>點擊圖片更換大頭貼</p>
    <div class="ensure">
      <p class="store">儲存</p>
      <p class="cancel">取消</p>
    </div>
  </div>
</div>

<section class="member-info">
  <div class="member-title">
    <div>
      <p>個人資訊</p>
    </div>
    <div class="head-img">
      <input
        id="head-img-input"
        name="userIMG"
        type="file"
        accept="image/jpeg, image/png"
      />
      <img id="head-img" src="/IMG/headIMG_load.gif" alt="" />
      <div class="img-instruct">上傳圖片</div>
    </div>
  </div>
  <hr />
  <div class="member-info-row">
    <div class="merge">
      <p>姓名</p>
      <p class="user-name"></p>
      <input
        class="user-name-input"
        style="display: None"
        type="text"
        value=""
      />
    </div>
    <p class="edit" id="e1">編輯</p>
  </div>
  <hr />
  <div class="member-info-row">
    <div class="merge">
      <p>電子信箱</p>
      <p class="user-email"></p>
      <input
        class="user-email-input"
        style="display: None"
        type="text"
        value=""
        placeholder="信箱更改後，登入請用新信箱"
      />
    </div>
    <p class="edit" id="e2">編輯</p>
  </div>
  <hr />
  <div class="member-info-row">
    <div class="merge">
      <p>電話號碼</p>
      <p class="user-phone"></p>
      <input
        class="user-phone-input"
        style="display: None"
        type="text"
        value=""
      />
    </div>

    <p class="edit" id="e3">編輯</p>
  </div>
</section>

{% endblock %} {% block script %}
<script src="/JS/memberCenter.js"></script>
{% endblock %}
