<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>測試!!</h1>
</body>

<script>
    let src="https://api.kcg.gov.tw/api/service/Get/9c8e1450-e833-499c-8320-29b36b7ace5c";
    
function ajax(){
    return fetch(src).then((response)=>{
        return response.json();
});
};

function testb(){
    return new Promise((resolve, reject) => {
        setTimeout(()=>{
        console.log("hello");
    },1000);
    });
};

async function test(){
    await ajax();
    console.log("test1");
    await ajax();
    console.log("test2");
    await testb();
    await ajax();
    console.log("test3");
}

test()

</script>


</html>